%p=text_field :subscription_on, :label => 'Date of subscription :'
- if session.user.admin?
  %p=select :function_id, :collection => Function.all, :text_method => :name, :value_method => :id, :label => 'Function :'
- else
  %p 
    Function :
    = @member.function.name
