%h1 List of members


- unless @members.empty?
  %table
    %thead
      %tr
        %th Login
        %th Firstname
        %th Lastname
        %th function

    %tbody
      - for member in @members
        %tr
          %td=member.login
          %td=member.firstname
          %td=member.lastname
          %td=member.function.name
          %td
            = link_to 'Show', url(:member, member)
          %td
            = link_to 'Edit', url(:edit_member,  member) if admin? || session.user.id == member.id
          %td
            = link_to 'Delete', resource(member, :delete) if admin? || session.user.id == member.id
- else
  %p There are no member. So create one.

= link_to 'New', url(:new_member) if admin?
